/*The navbar must have the following:*/

/*!*!*box-sizing: border-box for all elements*! done*/
/*!*link text, the logo, and icons are surrounded by anchor tags*!done*/
/*!*links turn blue on hover*!done*/
/*anchor tags are display: inline-block done*/
/*clickable area of links immediately flow from one link to the next (padding will help achieve this)*/
/*Google Fonts used for logo and link text ("Montserrat" and "Work Sans", respectively)*/
/*the "Logo" text is 3em with .2em of padding above and below*/
/*                              no explicit height given to the navbar*/
/*                              default styling is removed as needed from the body, unordered list and anchor tag elements*/
/*logo is horizontally centered on the navbar (automatic margins will help achieve this)*/
/***/
*{
    box-sizing: border-box;
    margin: 0;
}

ul {
    display: flex;
    background: gray;
    color: black;
    align-items: center;
    padding: 0;
}

 a{
    color: black;
    text-decoration: none;
    display: inline-block;
     margin:.5em
}

li{
    font-family: "Montserrat", sans-serif;
    list-style: none;
}
header nav>ul>li:nth-of-type(4) {
    flex-grow: 2;
    font-family: "Montserrat", sans-serif;
}
header nav>ul>li:nth-of-type(5){
    flex-grow: 3;
    font-size: 3em;
    padding: .2em 0  ;
    font-family: "Work Sans", sans-serif;
}
nav a:hover{
    color: blue;
}

