.fancy-header {
    color: #b6b3c7; /* single line comment */
    text-decoration: underline;
}
.fancy-header { text-align: center; }

h2{
    color:#b6b3c7;
    font-stretch: 293%;
}

body {
    background-image: url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
    background-color: #cccccc;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;


}
a:visited {
    color: red;
}